@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Moul&family=Poppins:wght@200;300;400;600;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --black: #262626;
  --navy: #4254a0;
}

/* Mixin pour les boutons */
@mixin btn {
  padding: 14px 38px;
  font-size: 16px;
  border-radius: 36px;
  display: block;
  margin: auto;
  width: fit-content;

  @media (min-width: 768px) {
    padding: 16px 46px;
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    padding: 20px 64px;
    font-size: 26px;
    font-weight: 700;
  }
}

/* Mixin pour les conteneurs de démarrage */
@mixin get-start-container {
  padding: 26px 40px 26px 40px;
  text-align: center;
  @media (min-width: 1024px) {
    padding: 60px 200px 80px 200px;
  }
}

/* Mixin pour les entrées de démarrage */
@mixin get-start-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media (min-width: 1024px) {
    flex-direction: row;
  }

  ::placeholder {
    padding: 20px;
  }
}

/* Mixin pour les champs de saisie */
@mixin input {
  width: 100%;
  font-size: 18px;
  height: 50px;
  border: none;

  @media (min-width: 1024px) {
    width: 60%;
    height: 72px;
    font-size: 22.6px;
  }
}
html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* Styles généraux */

h1 {
  font-size: 42px;
  color: #fff;

  @media (min-width: 768px) {
    color: #fff;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    margin: 0 0 45px 0;
  }

  br {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

h2 {
  color: var(--black);
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

h3,
h4 {
  margin: 0;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 34px;
  }

  br {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

p {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 22.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
}

.btn-navy {
  @include btn;
  background-color: var(--navy);
  color: #fff;
  &:hover {
    background-color: #725ca4;
  }
}

.m-btn {
  padding: 13px 38px;
  font-size: 16px;
  display: block;
  margin: 40px auto;

  @media (min-width: 768px) {
    padding: 12px 64px;
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.d-btn {
  display: none;

  @media (min-width: 1024px) {
    display: inline;
  }
}

/* Section Hero */

#hero {
  background-image: url("../img/fond-1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    background-position: center;
  }

  header {
    padding: 30px 0;
    width: 90%;
    margin: auto;

    @media (min-width: 1024px) {
      width: 80%;
      padding: 100px 0;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        @media (min-width: 768px) {
          gap: 40px;
        }

        .m-logo {
          display: block;

          @media (min-width: 768px) {
            display: none;
          }
        }

        .d-logo {
          display: none;

          @media (min-width: 768px) {
            display: block;
          }
        }
      }

      p {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;

        @media (min-width: 768px) {
          font-size: 34px;
        }
      }
    }
  }

  .h-container {
    margin: auto;
    display: flex;
    width: 88%;
    margin: auto;
    flex-direction: column;
    text-align: center;
    padding: 0 0 80px 0;

    @media (min-width: 1024px) {
      padding: 60px 0 180px 0;
      text-align: left;
      width: 88%;
      flex-direction: row;
      justify-content: flex-start;
    }

    .h-left {
      width: 100%;

      @media (min-width: 1024px) {
        width: 50%;
      }

      p {
        color: #fff;
        margin: 0 0 60px 0;
        width: 100%;

        @media (min-width: 1024px) {
          width: 54%;
        }
      }
    }

    .h-right {
      width: 100%;
      text-align: right;

      @media (min-width: 1024px) {
        width: 50%;
      }

      img {
        width: 100%;
        flex-shrink: 0;

        @media (min-width: 1024px) {
          width: 534px;
          height: 535px;
        }
      }
    }
  }

  .arrow {
    width: 100%;
    position: relative;

    lottie-player {
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}

/* Section Features */

#features {
  width: 100vw;
  padding-bottom: aout;
  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
  .f-description {
    text-align: center;
    padding: 60px 0;
    width: 88%;
    margin: auto;

    @media (min-width: 1024px) {
      padding: 100px 0;
      width: 80%;
    }
  }

  .f-container {
    background-image: url("../img/fond2.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 46px 0;

    @media (min-width: 1024px) {
      padding: 100px 0;
    }

    .f-articles {
      display: flex;
      flex-direction: column;
      gap: 40px;
      text-align: center;
      width: 88%;
      margin: auto;

      @media (min-width: 1024px) {
        flex-direction: row;
        width: 80%;
        gap: 100px;
      }

      h3 {
        margin-top: 20px;
      }
    }
  }

  .get-start {
    width: 88%;
    margin: 100px auto;

    @media (min-width: 1024px) {
      width: 80%;
    }

    .get-start-container {
      background-color: #d4e1ef;
      @include get-start-container;

      h4 {
        margin-bottom: 20px;
        @media (min-width: 1024px) {
          margin-bottom: 40px;
        }
      }

      .get-start-input {
        @include get-start-input;

        input {
          @include input;
        }
      }
    }
  }
}

/* Section Video */

#video {
  .v-video {
    line-height: 0;
    iframe {
      width: 100%;
      aspect-ratio: 2 / 1;
      max-width: 100%;
      height: auto;
      max-height: 600px;
    }
  }

  .v-description {
    background-color: #d4e1ef4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 80px 0;
    padding: 20px 12px;

    @media (min-width: 1024px) {
      flex-direction: row;
      width: 80%;
      margin: 80px auto;
      gap: 114px;
      text-align: left;
      gap: 40px;
      padding: 80px;
    }

    .v-right {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        width: 50%;
      }
    }

    .v-left {
      width: 90%;
      margin: auto;

      @media (min-width: 1024px) {
        width: 50%;
      }
    }
  }
}

/* Section Gallery */

#gallery {
  margin-bottom: 180px;

  @media (min-width: 1024px) {
    width: 100%;
  }

  .g-grid {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    @media (min-width: 1024px) {
      width: 80%;
      flex-direction: row;
    }

    .grid-item {
      img {
        width: 100%;
        height: auto;

        @media (min-width: 1024px) {
          width: 400px;
          height: auto;
        }
      }
    }
  }
}
/* Swiper */
.swiper {
  width: 100%;
  margin: 0.5rem auto;
  .swiper-slide {
    width: fit-content;
    height: auto;
    img {
      width: 600px;
      height: auto;
      width: 100%;
    }
  }
  .swiper-button-next {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin-right: 40px;
    }
  }
  .swiper-button-prev {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin-left: 40px;
    }
  }
  /* Slide */
  &-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
}
.slider2 {
  width: 100%;

  @media (min-width: 768px) {
    width: 100%;
    margin: 80px auto 0 auto;
  }
  @media (min-width: 1024px) {
    width: 88%;
    margin: 80px auto 0 auto;
  }
  .swiper-wrapper {
    @media (min-width: 768px) {
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }
    @media (min-width: 1024px) {
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }

    .swiper-slide {
      margin-top: 40px;
      width: 100%;
      @media (min-width: 768px) {
        width: 30%;
      }
    }
  }

  .m-g-h3 {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .d-g-h3 {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

/* Section Hero2 */

#hero2 {
  background-image: url("../img/fond3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  display: flex;

  @media (min-width: 1024px) {
    background-position: center;
    background-position: left;
  }

  .hero2 {
    width: 90%;
    margin: auto;

    padding: 20vh 0;

    @media (min-width: 1024px) {
      width: 80%;
      margin: auto;
    }

    h2 {
      font-size: 42px;
      color: #fff;
      text-align: center !important;

      @media (min-width: 768px) {
        color: #fff;
        font-size: 85px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        margin: 0 0 45px 0;
        text-align: center;
      }
      @media (min-width: 1024px) {
        color: #fff;
        font-size: 85px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        margin: 0 0 45px 0;
        text-align: left !important;
      }
    }

    p {
      color: #fff;
      line-height: 34px; /* 188.889% */
      width: 100%;
      text-align: center;

      @media (min-width: 1024px) {
        width: 54%;
        text-align: left;
      }
    }
  }
}

/* Section Articles */

#articles {
  width: 100%;
  margin: auto;
  padding-top: 26px;

  @media (min-width: 1024px) {
    width: 80%;
    padding-top: 80px;
  }

  .a-container {
    gap: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    flex: column;
    justify-content: space-between;
    text-align: center;
    @media (min-width: 1024px) {
      flex-direction: row;
      width: 90%;
      text-align: left;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      width: 90%;
      text-align: left;
    }
    .a-item2 {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    .a-item {
      .a-item-text {
        width: 90%;
        margin: 0 auto;
        @media (min-width: 768px) {
          width: 90%;
        }
      }
      h3 {
        margin: 0;
      }

      img {
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
      }
    }
  }

  .get-start {
    margin: 100px auto;

    @media (min-width: 1024px) {
    }

    .get-start-container {
      background-color: #d4e1ef;
      @include get-start-container;
      h4 {
        margin-bottom: 40px;
      }
      .get-start-input {
        @include get-start-input;

        input {
          @include input;
        }
      }
    }
  }
}

/* Section Map */

#map {
  .map {
    position: relative;

    .iframe {
      filter: rgb(66, 84, 160);
      -webkit-filter: grayscale(100%);
      z-index: 0;
      line-height: 0;

      iframe {
        width: 100%;
        height: 60vh;

        @media (min-width: 1024px) {
          width: 100%;
          aspect-ratio: 2 / 1;
          max-width: 100%;
          height: auto;
          max-height: 600px;
        }
      }
    }

    .pin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .i-pin {
      width: 160px;
    }

    span {
      display: block;
      background-color: #fff;
      color: var(--black);
      padding: 8px 16px;
      margin-top: 12px;
    }
  }
}

// footer
footer {
  background-color: #d4e1ef;
  margin: 0;
  width: 100%;
  padding: 60px 0 20px;
  @media (min-width: 1024px) {
    padding: 80px 0;
  }
  .f-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      margin: 0 auto 100px;
      flex-direction: row;
    }

    .f-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @media (min-width: 1024px) {
        gap: 120px;
        align-items: flex-start;
      }

      .f-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        img {
          width: 60px;
          @media (min-width: 1024px) {
            width: 100px;
          }
        }
        p {
          color: var(--black);
          font-size: 26px;
          font-weight: 800;
          @media (min-width: 1024px) {
            font-size: 42px;
          }
        }
      }

      hr {
        float: left;
        background-color: var(--black);
        display: none;
        @media (min-width: 1024px) {
          width: 72%;
        }
      }
      .f-text {
        display: none;
        @media (min-width: 1024px) {
          width: 100%;
          display: block;
        }
      }
    }
    .f-left {
      width: 100%;
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
    .f-right {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 60px;
      margin: 60px 0;
      width: 100%;
      @media (min-width: 1024px) {
        flex-direction: row;
        gap: 60px;
        width: 50%;
      }

      .f-nav {
        text-align: center;
        @media (min-width: 1024px) {
          text-align: left;
        }
        h4 {
          margin: 0 0 40px 0;
        }
        ul {
          list-style: none;
          gap: 40px;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 20px;
            color: var(--black);
            font-size: 17.2px;
            font-weight: 400;
            line-height: 26px;
            @media (min-width: 7px) {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .get-start {
    width: 90%;
    margin: auto;
    @media (min-width: 1024px) {
      width: 80%;
    }
    .get-start-container {
      background-color: #fff;
      @include get-start-container;
      h4 {
        margin-bottom: 40px;
      }

      .get-start-input {
        @include get-start-input;

        input {
          @include input;
          background-color: #d3dfee;
        }
      }
    }
  }

  .m-hr {
    display: block;
    width: 90%;
    margin: 40px auto 0;
    background-color: var(--black);
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .m-f-text {
    margin: 20px auto 0;
    text-align: center;
    width: 90%;
    display: block;
    font-size: 14.8px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
